label {
    margin: 5px;
}
.appname {
    font-size: x-large;
    font-weight: bold;
    color: blueviolet;
    margin: 0px;
    padding: 10px 30px;
    border: 2px solid #ccc;
    border-radius: 8px; 
}
.version {
    font-style: italic;
    font-family: serif;
}
.author {
    color: green;
}
.license {
    color: goldenrod;
    font-size: small;
    font-family: serif;
}
